*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family:Arial,sans-serif;
    background:linear-gradient(#1f4fd3, #05225f);
    color:white;
    padding:30px;
}

header{
    max-width:1000px;
    margin:auto;
    margin-bottom:40px;
}

.back-link{
    color:#e0e0e0;
    text-decoration:none;
}

header h1{
    margin-top:15px;
}

main{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.page-tools{
    margin-bottom:20px;
}

#theme-toggle{
    padding:10px 18px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.calculator{
    width:100%;
    max-width:380px;
    background:#22396d;
    border-radius:20px;
    padding:20px;
    border:1px solid rgba(255,255,255,0.08);
}

.display{
    height:90px;
    background:#020617;
    border-radius:14px;
    margin-bottom:20px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding:20px;
    font-size:2.2rem;
    overflow:hidden;
    word-break:break-all;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
}

button{
    height:65px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:1.1rem;
    background:#1e293b;
    color:white;
}

button:hover{
    background:#334155;
}

button:last-child{
    background:#2563eb;
}

button:last-child:hover{
    background:#1d4ed8;
}

.history-box{
    width:100%;
    max-width:380px;
    margin-top:20px;
    background:#ca8609;
    padding:18px;
    border-radius:15px;
}

.history-box h3{
    margin-bottom:12px;
}

.history-box ul{
    list-style:none;
}

.history-box li{
    margin-bottom:8px;
    color:#0a1018;
}

.light-mode{
    background:#f5f5f5;
    color:#111;
}

.light-mode .back-link{
    color:#131010;
}

.light-mode .calculator{
    background:white;
}

.light-mode .display{
    background:#e5e7eb;
    color:#111;
}

.light-mode .history-box{
    background:rgba(199, 180, 180, 0.301);
}

@media(max-width:600px){

    body{
        padding:15px;
    }

    .display{
        font-size:1.8rem;
    }

    button{
        height:58px;
        font-size:1rem;
    }
}