*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    min-height:100vh;
    font-family:Arial,sans-serif;
    background:linear-gradient(#1f4fd3, #05225f);
    color:white;
    padding:30px;
}

header{
    max-width:1000px;
    margin:auto;
    margin-bottom:40px;
}

.back-link{
    color:#ffffff;
    text-decoration:none;
}

header h1{
    margin-top:15px;
}

main{
    display:flex;
    justify-content:center;
}

.calculator{
    width:380px;
    background:#111827;
    border-radius:20px;
    padding:20px;
    border:1px solid rgba(255,255,255,0.08);
}

.display{
    height:90px;
    background:#020617;
    border-radius:14px;
    margin-bottom:20px;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    padding:20px;
    font-size:2.2rem;
    overflow:hidden;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:12px;
}

button{
    height:65px;
    border:none;
    border-radius:12px;
    cursor:pointer;
    font-size:1.1rem;
    background:#1e293b;
    color:rgb(255, 255, 255);
    transition:0.2s;
}

button:hover{
    background:#334155;
}

button:last-child{
    background:#2563eb;
}

button:last-child:hover{
    background:#1d4ed8;
}

@media(max-width:500px){

    body{
        padding:15px;
    }

    .calculator{
        width:100%;
    }
}