*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    min-height:100vh;
    background:linear-gradient(#ebee35, #e0a82f, #af6e0d);
    overflow-x:hidden;
    position:relative;
}


.hero{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:90px 0;
}

.hero-content{
    text-align:center;
    margin-bottom:70px;
}

.hero-content h1{
    font-size:4.5rem;
    margin-bottom:18px;
    letter-spacing:2px;
}

.hero-content p{
    max-width:550px;
    font-size: 22px;
    margin:auto;
    line-height:1.7;
    color:#000000;
}

.card-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:24px;
}

.calc-card{
    background:rgba(185, 223, 245, 0.918);
    padding:28px;
    transition:0.25s;
}

.calc-card:hover{
    transform:translateY(-6px);
}

.card-top{
    margin-bottom:20px;
}

.card-top span{
    font-size:0.9rem;
    color:#000000;
}

.calc-card h2{
    font-size: 30px;
    margin-bottom:12px;
}

.calc-card p{
    color:#071527;
    line-height:1.6;
    margin-bottom:24px;
}

.calc-card a{
    display:inline-block;
    text-decoration:none;
    color:white;
    background:#265ac2;
    padding:12px 20px;
    border-radius:10px;
    transition:0.2s;
}

.calc-card a:hover{
    background:#1d4ed8;
}

@media(max-width:900px){

    .card-grid{
        grid-template-columns:1fr;
    }

    .hero-content h1{
        font-size:3rem;
    }
}

@media(max-width:600px) {

    .hero{
        padding:60px 0;
    }

    .hero-content h1{
        font-size:2.4rem;
    }

    .hero-content p {
        font-size:0.95rem;
    }

    .calc-card{
        padding:22px;
    }
}